<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jobtroll</title>
    <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/css/jobtroll.css" rel="stylesheet" />
    <link href="/static/css/login.css" rel="stylesheet" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/static/js/interview.js"></script>
    <link rel="icon" href="public/assets/images/mocklogo.png" type="image/png" sizes="16x16">
    <link href="/static/css/login.css" rel="stylesheet" />
</head>
<body>
  {{!--<h1>Hello Jobtrollers!</h1>--}}
  {{{ body }}}
</body>
</html>
