
<div class="header navbar navbar-inverse navbar-static-top" id = "top">
                <div class="navbar-header" id='logoName'>
                        <img src="static/images/mocklogo.png" alt="Logo" id='logo' class="navbar-left">
                        <h1 id='tname'>JobTroll </h1>
</div>
<div class="navbar-collapse collapse" id="navList">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/research" class="scrollto">Job Research</a>
      </li>
      <li>
          <a href="/logout" class="scrollto">Log Out</a>
      </li>
    </ul>
</div>
</div>
<h1>Welcome Home {{user}}!</h1>
