.navbar-header{
    padding-left:10px;
    
}
.logo{
    display:inline-block;
    
}

.navbar {
    background-color: white;
}

#logo{
    height: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#tname{ 
    font-family: 'EB Garamond', serif;
    display:inline-block;
    margin-bottom: 1px;
    margin-top:0px;
    font-size: 55px;
    margin-left: 10px;
}

#logoName {
    background-color: lightgrey;
    padding-right:20px;
    
}

#navList{
    margin-top: 15px;
    margin-right:10%;
    padding-bottom:0px;
}

#navList a {
    background-color: lightgray;
    color:black;
    margin-right: 15px;
    font-size: 20px;
    
}

#userInfo{
    background-color: lightgray;
    padding:20px
}

#userImage img {
    height: 75px;
}